<ion-header class="norbel-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  class="menu-icon-2"></ion-menu-button>
    </ion-buttons>
    <ion-title>Norbel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="page-pad-box">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="error-box">    
        <h1 class="title-h1 mrg-b-1">Error</h1> 
        <div class="error-img-box">
          <img src="assets/img/error-img.jpg">       
         </div>
        <ion-label class=" mrg-b-3">Uh oh, something must've gone wrong. Please reopen the app and try again.</ion-label> 
        <ion-label class=" mrg-b-3">If the issue persists, contact support <br>at contact@norbel.com.au.</ion-label>
         </ion-col>    
    </ion-row>
    </ion-grid>

    
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="return-btn" >Return</ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid>
  </div>

</ion-content>

<!-- <ion-footer class="page-footer-box">
  <ion-button expand="block" class="norbel-btn" ></ion-button>
</ion-footer> -->
