<ion-header class="norbel-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon-2"></ion-menu-button>
    </ion-buttons>
    <ion-title>Norbel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none" class="page-title-box  ion-no-padding"  style="--inner-padding-end: 0 !important;">
    <ion-label>
      Legal
    </ion-label>
  </ion-item>
  <div class="page-pad-box">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="legal-information-box">  
        <h6 class=""> TERMS AND CONDITIONS</h6>  
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> 
        <h6 class="mrg-t-2">PRIVACY POLICY</h6>  
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots piece of classical Latin literature from 45 BC, rking it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.</p>  
      </ion-col>    
    </ion-row>
    </ion-grid>



<!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="scan-open-btn" >Done</ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid> -->
  </div>

</ion-content>

<ion-footer class="page-footer-box">
  <ion-button expand="block" class="norbel-btn" (click)="doBack()" >Back</ion-button>
</ion-footer>
