<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">         
        <ion-header class="side-menu-1 norbel-header">
            <ion-toolbar class="header-bg">
                <div class="side-menu-header">                    
                    <ion-title>Norbel</ion-title>                   
                </div>
            </ion-toolbar>
        </ion-header>
        <ion-content class="side-menu-list">            
            <ion-list class=" " id="inbox-list">
                <ion-menu-toggle auto-hide="true">
                    <ion-item class=" side-menu-item" detail-icon="none" (click)="doMyAccount()">
                      <ion-label> My Account </ion-label>                      
                    </ion-item>
                    <ion-item class=" side-menu-item" detail-icon="none" (click)="doContactUs()">
                      <ion-label> Contact Us </ion-label>                      
                    </ion-item>
                    <ion-item class=" side-menu-item" detail-icon="none" (click)="doReportAnIssue()">
                      <ion-label> Report an Issue </ion-label>                      
                    </ion-item>
                    <ion-item class=" side-menu-item" detail-icon="none" (click)="doLegal()">
                      <ion-label> Legal </ion-label>                      
                    </ion-item>
                    <ion-item class=" side-menu-item" detail-icon="none" (click)=" logout()">
                      <ion-label> Logout </ion-label>                      
                    </ion-item>
                  </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>

<!-- 
  <ion-tabs class="tabs-icon-top tabs-background-{red} tabs-color-active-positive" ng-controller="TabCtrl">

    <ion-tab-bar slot="bottom"  class="footer-menu-tabs">
      <ion-tab-button tab="schedule">
        <div class="tabs-icon">
        <ion-icon name="home-outline"></ion-icon>
        </div>
      
      </ion-tab-button>  
      <ion-tab-button tab="speakers">
        <div class="tabs-icon">
        <ion-icon name="layers-outline"></ion-icon>
        </div>
     
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>  -->

  <!-- <ion-tabs>

    <ion-tab-bar slot="bottom" class="footer-menu-tabs">
      <ion-tab-button tab="home" layout="icon-top">
        <div class="tabs-icon">
          <ion-icon name="home-outline"></ion-icon>
          </div>
      </ion-tab-button>
  
      <ion-tab-button tab="all-cafes" layout="icon-top">
        <div class="tabs-icon">
          <ion-icon name="layers-outline"></ion-icon>
          </div>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs> -->

</ion-app>