.norbel-header ion-toolbar {
    --background: #44312b;
}
.norbel-header ion-title {
    text-align: center;
    color: #ffff;
    font-size: 20px;
}
.page-title-box {
    --background: #e8dece;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.page-title-box ion-label {
    padding: 5px 10px;
}   

.page-pad-box{
    padding:20px 20px;
}

.norbel-btn {
    padding: 0px;
    height: 50px;
    border-radius: 30px !important;
    overflow: hidden;
    --background: #e8dece;
    color: #000;
    max-width: 260px;
    margin: 20px auto 10px;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 700;
}

.norbel-btn-square {
    border-radius: 10px !important;
}
.add-cafe-content{
    text-align: center;
}
h1.title-h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin:  0px;
}
.add-cafe-content ion-label {
    font-size: 20px;
    font-weight: 500;
}
.code-box {
    text-align: center;
    margin: 15px 0px;
}
.code-box ion-input {
    display: inline-block;
    border: 2px solid #000;
    width: 60px;
    margin: 0px 5px;
    height: 70px;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 70px;
}
.dotted-border {
    border-bottom: 5px dotted #000;
    max-width: 240px;
    margin: 30px auto;
}


.button-box{
    padding: 15px 20px;
    border-radius: 10px !important;
    background: #e8dece;
    color: #000;
    max-width: 260px;
    margin: 20px auto 10px;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 700;
}

.otp {
    color: darkgray;
    border-style: none;
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  
  td {
    border: 2px solid darkgray
  }
  
  table {
    border-collapse: collapse;
  }
  ion-input{
    display:inline-block;
    width:50px;
    height:50px;
    margin:10px;
    border-radius: 50%;
    --background:#e1e1e1;
    --padding-start:7px;
    }