
  
  .notification-content ion-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
  }

  
  .page-footer-box {
    background-color: #44312b;
    padding: 15px;
  }
  .page-footer-box .norbel-btn {
    margin: 0px auto ;
  }