<ion-content>

  <div class="create-new-account-bg">
    <div class="create-new-account-text">
      <h3>Forgot Password</h3>
      <p>New Password</p>
    </div>
  </div>
  <form (submit)="doForgotPassword(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
  
  <div class="forgot-page-form">
  
    <ion-list>    
      <ion-item lines="none" class="form-field ion-no-padding"  style="--inner-padding-end: 0 !important;">
        <ion-label position="stacked"  class="ion-label-text"> PLEASE ENTER YOUR EMAIL</ion-label>
        <ion-input placeholder="hello@reallygreatsite.com" formControlName="email" required></ion-input>
      </ion-item> 
      <div no-lines *ngIf="( forgotPasswordForm.get('email').hasError('required') ) && forgotPasswordForm.get('email').touched">
        <div class="error">
          Please Enter email
        </div>
      </div>
    
    </ion-list>
    <ion-button expand="block" class="norbel-btn" type="submit" >Send otp</ion-button>
  </div>


</form>
</ion-content>