<ion-header class="norbel-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon-2"></ion-menu-button>
    </ion-buttons>
    <ion-title>Norbel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none" class="page-title-box  ion-no-padding"  style="--inner-padding-end: 0 !important;">
    <ion-label>
      Notifications
    </ion-label>
  </ion-item>

  <div class="page-pad-box">
<div class="add-cafe-content">
    <h1 class="title-h1">  Hey Jiara    </h1>
    <ion-label>   We have a favour to ask </ion-label>
    <ion-label> When the popup shows, could you please enable notifications?    </ion-label>
    <div class="brewed-down-logo-box">
      <img src="assets/img/logo-brewed-down.jpg">
   </div>
    <!-- <ion-button expand="block" class="norbel-btn  norbel-btn-square" >ADD CAFE</ion-button> -->
    <ion-label> It'll help support local businesses like Brewed Down - your regular coffee shop.   </ion-label>
  </div>
  </div>

</ion-content>

<ion-footer class="page-footer-box">
  <ion-button expand="block" class="norbel-btn" (click)="doBrewedDown()">sure</ion-button>
</ion-footer>
